@import "@fontsource/material-symbols-outlined/400.css";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/700.css";
@import "@fontsource/noto-emoji/400.css";
@import "@fontsource/noto-emoji/700.css";
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", "Noto Emoji", sans-serif; 
  --color-light: var(--color-gray-200);
  --color-medium: var(--color-gray-400);
  --color-dark: var(--color-black);
  --color-highlight: var(--color-blue-950);
  --color-error: var(--color-red-800);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#app a:hover, #app button:hover {
  opacity: 0.5; 
  cursor: pointer;
}