modules = ["nodejs-24"]

[nix]
channel = "stable-25_05"
packages = ["vim"]

[workflows]
runButton = "TRMNL"

[[workflows.workflow]]
name = "TRMNL"
mode = "sequential"
author = 3410761

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pages/trmnl && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pages/trmnl && npm start"

[[ports]]
localPort = 8080
externalPort = 8080
