modules = ["nodejs-24"]

[nix]
channel = "stable-25_05"
packages = ["vim"]

[workflows]
runButton = "TRMNL"

[[workflows.workflow]]
name = "TRMNL"
mode = "sequential"
author = 3410761

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pages/trmnl && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pages/trmnl && npm start"

[[workflows.workflow]]
name = "trmnl_api"
mode = "sequential"
author = 3410761

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd workers/trmnl-img && npm install && cd ../trmnl-api && npm install "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd workers/trmnl-api && npx wrangler dev --port 8080 --ip 0.0.0.0 -c wrangler.toml -c ../trmnl-img/wrangler.toml"

[[ports]]
localPort = 8080
externalPort = 8080
