<main class="max-w-96 flex flex-col m-auto text-md/6 border-4 border-white">
	<span class="text-lg font-bold pb-2">Programme</span>
	<div x-data="events" x-init="list">
		<form @submit.prevent="save(event)" class="flex flex-col gap-4">
			<div class="flex flex-col bg-gray-200 rounded-md p-2">
				<div class="font-bold">Selectioner le jour</div>
				<div class="ml-4 flex flex-cols gap-x-1">
					<input
						type="radio"
						:checked="selected_date"
						@click="select(selected_day.toString())"
					/>
					<input
						type="date"
						x-model="selected_date"
						class="px-1"
						:class="{'bg-white': selected_date !== ''}"
						@change.prevent="select_date"
					/>
				</div>
				<div class="ml-4">
					<label
						><input
							type="radio"
							:checked="!selected_date"
							@click="select(selected_day.toString())"
						/>
						Récurrents
					</label>
					<div class="flex gap-x-1 justify-end items-center">
						<template x-for="(d,i) in ['Lu','Ma','Me','Je','Ve','Sa','Di']">
							<a
								href=""
								class="px-1 border-2 border-white bg-gray-200"
								:class="{
										'bg-white': selected_day === i + 1 && selected_date === '', 
										'border-gray-800': selected_day === i + 1 && selected_date === '', 
										'font-bold': selected_day === i + 1,
										'text-red-800': i > 4
									}"
								@click.prevent="select((i+1).toString())"
								><span x-text="d"></span
								><span
									class="align-middle ml-1 material-symbols-outlined"
									x-show="selected_day === i + 1 && selected_date === ''"
									>close</span
								></a
							>
						</template>
					</div>
				</div>
			</div>

			<div class="flex">
				<select name="time" x-model="event.time" class="" autofocus>
					<option value="" :class="{'text-red-800': slot_taken($el.value)}">
						--:--
					</option>
					<template x-for="h in 13">
						<template x-for="m in ['00', '30']">
							<option
								x-text="`${h+7<10?'0':''}${h+7}:${m}`"
								:class="{'text-red-800': slot_taken($el.value)}"
							></option>
						</template>
					</template>
				</select>
				<input
					name="subject"
					type="text"
					x-model="event.subject"
					placeholder="Activite"
					class="flex-auto rounded-md border-1 p-1 ml-2 font-bold"
					x-init="$watch('event.subject', v => v && $el.focus())"
				/>
			</div>
			<textarea
				id="content"
				name="content"
				x-model="event.content"
				class="rounded-md border-1 p-1"
				rows="2"
				placeholder="Tapez la description d'activitee et appuyez sur Entrée pour valider."
				@keydown.enter.prevent="$el.form.requestSubmit()"
			></textarea>
			<div class="flex items-center justify-end gap-x-2">
				<a href="" x-show="event.id" @click.prevent="remove(event)" class="">
					Supprimer
				</a>
				<button
					type="submit"
					x-bind:disabled="loading || event.subject ===''"
					class="self-end text-white bg-black font-semibold rounded-lg px-2 py-1 disabled:opacity-50"
				>
					Valider
				</button>
			</div>
		</form>

		<div class="my-2 capitalize font-bold flex items-center justify-between">
			<span class="text-lg" x-text="dateOrDay"></span>
			<a
				href=""
				class="px-1 mr-3 border-2 border-white bg-gray-200"
				x-show="selected_date"
				:class="{
					'line-through': events[0] && events[0].hide,
					'text-red-800': selected_day > 4
				}"
				@click.prevent="events[0].hide ? remove(events[0]) : hide()"
				><span x-text="dateOrDay().substring(0,2)"></span>
			</a>
		</div>
		<div id="preview" class="flex-1 flex flex-col p-2 bg-gray-200 h-[25em]">
			<template x-for="(item,index) in events">
				<div
					class="flex justify-between items-center hover:bg-white pl-2"
					:class="{
						'bg-white': event === item, 
						'text-red-800': event.subject !=='' && !item.day && event.id !== item.id && event.time === item.time
					}"
					x-show="(item.day === selected_day.toString() && !events[0].hide) || item.date && selected_date && !item.hide"
				>
					<div class="mb-[8px] w-[19em] text-md font-bold">
						<span
							class="text-gray-700 text-lg tabular-nums"
							x-text="item.time"
						></span>
						<span class="text-lg" x-text="item.subject"></span>
						<div
							class="font-normal text-xs ml-[1px]"
							x-text="item.content"
						></div>
					</div>
					<a
						href=""
						class="px-1 material-symbols-outlined"
						x-show="item.date || !selected_date"
						@click.prevent="(event.id === item.id ? event = { ...DEFAULT } : event = { ...item })"
						>edit</a
					>
					<a
						href=""
						class="px-1 mr-1 border-2 border-white bg-gray-200 capitalize"
						x-show="!item.date && selected_date"
						:class="{
							'line-through': events[0] && events[0].hide,
							'text-red-800': selected_day > 4
						}"
						@click.prevent="events[0].hide ? remove(events[0]) : hide()"
						><span x-text="dateOrDay().substring(0,2)"></span>
					</a>
				</div>
			</template>
		</div>
		<div class="flex p-1 text-center bg-red-800 text-white">
			<span
				x-show="events && document.getElementById('preview').scrollHeight > document.getElementById('preview').clientHeight"
				>Limit d'ecran</span
			>
		</div>
	</div>
</main>
