@import "@fontsource/material-symbols-outlined/400.css";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/700.css";
@import "@fontsource/noto-emoji/400.css";
@import "@fontsource/noto-emoji/700.css";
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", "Noto Emoji", sans-serif; 
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}